.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat-container, .dog-container, .fox-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 600px;
}

.cat-description, .dog-description, .fox-description {
    padding: 1rem 0;
}

.cat-description div {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
}

.dog-description div {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
}

.fox-description div {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
}

.card-border {  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    border-radius: .25rem;
}